.header {
    display: flex;
    align-items: center;
    background-color: #008B8B
    ;

    ;
}

.header  i{
    font-size: 60px;
    }

.header span{
    position: absolute;
    left:100px;
    font-size:35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:normal;
   
}