.home mat-card-title{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;

}

.home mat-card-subtitle{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    
}